.curtain {
  position: relative;
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: center;
  overflow: visible;
  display: block;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.title {
  width: min-content;
  position: absolute;
  top: 28px;
  left: 28px;
  color: #ffffff;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.02em;
  line-height: 1;
  text-transform: uppercase;
  z-index: 4;
}

.leftLabel {
  position: absolute;
  left: 38px;
  bottom: 80px;
  transform-origin: left bottom;
  z-index: 4;
  white-space: nowrap;
}

.leftLabel p {
  display: block;
  color: var(--text-main);
  letter-spacing: 8px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 18px;
}

.curtainButton {
  position: absolute;
  left: 40px;
  z-index: 4;
}

.mask {
  position: absolute;
  inset: 0;
  background: var(--mask-color);
  opacity: 0.85;
  z-index: 3;
}
